/* General Section Styling */
.section-title {
    font-size: 2rem;
    font-weight: 800;
}

/* Container for Male and Female Boxes */
.section-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.section-box {
    background-color: #2D2D2D;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}
.gender-box:hover {
    transform: scale(1.1);
}

.section-subtitle {
    font-size: 1.125rem;
    color: #FFD700;
}

.section-main {
    font-size: 2rem;
    font-weight: 700;
}

/* Size Selection Styling */
.size-box {
    width: 6rem;
    height: 8rem;
    background-color: #2D2D2D;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FFFFFF;
    transition: transform 0.2s ease-in-out;
}
.size-box:hover {
    transform: scale(1.1);
}

/* Step Transition Handling */
.step {
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.step.active {
    display: block;
    opacity: 1;
}

/* Progress Bar Styling */
.progress-bar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}
progress-bar::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
    right: 0;
    height: 1px;
  background-color: #4b5563;
  z-index: 0;
}
.progress-step {
    display: flex;
    align-items: center;
    flex-direction: column;
  position: relative;
  z-index:1;
}

.progress-icon img {
    height: 3rem;
    margin: 0 auto;
}

.progress-line {
    width: 4rem;
    height: 1px;
    background-color: #4B5563;
    margin: 2rem 1rem 2rem 2rem;
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.progress-circle {
    width: 3rem;
    height: 3rem;
    background-color: #2D2D2D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}